# Application
PORT=3000
NODE_ENV=development

# Authentication for clients calling this API
INTERNAL_API_KEY=developergupta_GWWN4LCOUOAKz16hF439MUGnf1PPKonBnpARki6xHPDbEnNjR

# Upstream AI Provider Configuration
AI_API_KEY=your_ai_provider_api_key_here
AI_BASE_URL=https://integrate.api.nvidia.com/v1
